button{
    border: 1px solid #3d3d3d;
    background: transparent;
    transition: 0.2s ease-in-out;
    padding: 10px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    height: fit-content;
    &:hover{
        background: #3d3d3d;
    }
    .bx, .bxs{
        font-size: 24px;
    }
    &.rounded{
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &.icon{
        padding: 8px;
    }
    &:disabled, &.disabled{
        opacity: .5;
        pointer-events: none;
        &:hover{
            background: transparent;
        }
    }
    &.active{
        background: #3d3d3d;
        color: white;
        font-weight: 500;
    }
    &.small{
        border: 1px solid rgb(27, 27, 27);
        padding: 8px;
        border-radius: 50px;
        .bx, .bxs{
            font-size: 15px;
        }
        background: #3d3d3d;
        transition: 0.2s ease-in-out;
        &:hover{
            background: lighten(#3d3d3d, 5%);
        }
    }
}

a{
    text-decoration: none;
    color: inherit;
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}

.gap-5{
    gap: 5px;
}
.gap-10{
    gap: 10px;
}